@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
body {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  background-image: url(../images/header/bloom-blossom-flora-40797.jpg);
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  padding-top: 30vh;
  position: relative;
}

header .navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8);
}

header main {
  padding: 20px 15px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

header main h1 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1;
  color: #273c75;
}

header main h2 {
  font-family: 'Open Sans', sans-serif;
  color: #192a56;
}

header .scroll-down {
  position: absolute;
  left: 49%;
  animation: scroll-down-animate 2s linear infinite;
}

header .scroll-down span.glyphicon-chevron-down {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
}

/*Animation for scroll-down icon - header section*/
@keyframes scroll-down-animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  80% {
    transform: translateY(300%);
    opacity: 1;
  }
  100% {
    transform: translateY(600%);
    opacity: 0;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 50px;
}

.about .about-box {
  margin: 0 auto;
  width: 90%;
  border: 3px solid #192a56;
  text-align: center;
  padding: 0 60px 30px 60px;
}

.about .about-box .picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px auto;
  overflow: hidden;
}

.about .about-box h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
  background-color: #fff;
  display: inline-block;
  transform: translateY(-50px);
  padding-left: 10px;
  padding-right: 10px;
}

.about .about-box p {
  color: #192a56;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.technology {
  text-align: center;
  background-color: #CFDCF2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.technology h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
}

.technology .box-logo-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 30px;
}

.technology .box-logo-1 [class*="box"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology .box-logo-1 [class*="box"]:hover {
  transform: scale(1.2);
}

.technology .box-logo-1 [class*="box"] > i {
  font-size: 100px;
  color: #192a56;
}

.technology h3 {
  color: #192a56;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}

.technology .box-logo-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 30px;
}

.technology .box-logo-2 [class*="box"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.technology .box-logo-2 [class*="box"]:hover {
  transform: scale(1.2);
}

.technology .box-logo-2 [class*="box"] > i {
  font-size: 100px;
  color: #192a56;
}

.projects {
  padding: 10px;
  text-align: center;
}

.projects h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
}

.projects .box-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .box-project [class*="project"] {
  width: 500px;
  height: 500px;
  margin: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: auto;
}

.projects .box-project [class*="project"] img {
  width: 100%;
  height: auto;
  border-bottom: 0.5px solid gray;
}

.projects .box-project [class*="project"] .details {
  display: none;
}

.projects .box-project [class*="project"] .description {
  background-color: #DBE2F1;
  padding-top: 20px;
}

.projects .box-project [class*="project"] .description h4 {
  margin: 0;
}

.temoprary {
  height: 500px;
}

/*# sourceMappingURL=style.css.map */