@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
body {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

header {
  height: 100vh;
  background-image: url(../images/header/bloom-blossom-flora-40797.jpg);
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  padding-top: 30vh;
  position: relative;
}

header .navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8);
}

header main {
  padding: 20px 15px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

header main h1 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1;
  color: #273c75;
}

header main h2 {
  font-family: 'Open Sans', sans-serif;
  color: #192a56;
}

header .scroll-down {
  position: absolute;
  left: 49%;
  animation: scroll-down-animate 2s linear infinite;
}

header .scroll-down span.glyphicon-chevron-down {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
}

/*Animation for scroll-down icon - header section*/
@keyframes scroll-down-animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  80% {
    transform: translateY(300%);
    opacity: 1;
  }
  100% {
    transform: translateY(600%);
    opacity: 0;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 50px;
}

.about .about-box {
  margin: 0 auto;
  width: 90%;
  border: 3px solid #192a56;
  text-align: center;
  padding: 0 60px 30px 60px;
}

.about .about-box h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
  background-color: #fff;
  display: inline-block;
  transform: translateY(-50px);
  padding-left: 10px;
  padding-right: 10px;
}

.about .about-box .picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: -30px  auto 10px auto;
  overflow: hidden;
}

.about .about-box .about-text {
  max-width: 750px;
  margin: 0 auto;
}

.about .about-box .about-text p {
  color: #192a56;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.about .about-box .not-visible {
  display: none;
}

.about .about-box button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #192a56;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.about .about-box button:hover {
  transform: scale(1.1);
}

.technology {
  text-align: center;
  background-color: #CFDCF2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.technology h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
}

.technology .box-logo-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 30px;
}

.technology .box-logo-1 [class*="box"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 15px;
}

.technology .box-logo-1 [class*="box"]:hover {
  transform: scale(1.2);
}

.technology .box-logo-1 [class*="box"] > i {
  font-size: 100px;
  color: #192a56;
}

.technology h3 {
  color: #192a56;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}

.technology .box-logo-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 30px;
}

.technology .box-logo-2 [class*="box"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.technology .box-logo-2 [class*="box"]:hover {
  transform: scale(1.2);
}

.technology .box-logo-2 [class*="box"] > i {
  font-size: 100px;
  color: #192a56;
}

.projects {
  padding-top: 50px;
  text-align: center;
}

.projects h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
}

.projects .box-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .box-project [class*="project"] {
  width: 500px;
  height: auto;
  margin: 10px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.projects .box-project [class*="project"] img {
  width: 90%;
  height: auto;
  margin-top: 5%;
  border-bottom: 1px solid gray;
}

.projects .box-project [class*="project"] button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #192a56;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.projects .box-project [class*="project"] button:hover {
  transform: scale(1.1);
}

.projects .box-project [class*="project"] .description {
  padding-top: 20px;
}

.projects .box-project [class*="project"] .description h4 {
  margin: 0;
  font-family: 'Open Sans' sans-serif;
  color: #192a56;
  margin-bottom: 10px;
}

.projects .box-project [class*="project"] .description p {
  padding: 0 20px;
  color: #192a56;
  font-family: 'Open Sans', sans-serif;
}

.projects .box-project [class*="project"] .description i {
  font-size: 30px;
  color: #273c75;
}

.projects .box-project [class*="project"] a .icon-link {
  width: 100px;
  font-size: 20px;
  margin: 20px 40px;
}

.projects .box-project .more-description {
  height: auto;
}

.contact {
  background-color: #192a56;
  color: #fff;
}

.contact .contact-box {
  margin: 80px auto;
  width: 90%;
  border: 3px solid #fff;
  text-align: center;
  padding-bottom: 30px;
}

.contact .contact-box h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #273c75;
  color: #fff;
  background-color: #192a56;
  display: inline-block;
  transform: translateY(-50px);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.contact .contact-box p {
  font-family: 'Open Sans' sans-serif;
  font-size: 25px;
}

.contact .contact-box a {
  color: #fff;
}

.contact .contact-box a button {
  background: none;
  outline: none;
  border: none;
}

.contact .contact-box a button .fa {
  font-size: 25px;
}

footer {
  background-color: #26292D;
  color: #868C95;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer p {
  margin: 0;
}

@media (max-width: 767px) {
  footer {
    font-size: smaller;
  }
  footer p {
    display: block;
    margin: 10px 40px;
  }
}

/*# sourceMappingURL=style.css.map */