@import 'global_variables';

body {
    margin: 0;
    padding: 0;
    font-family: $main-font, sans-serif;    
}

header {
    height: 100vh;
    background-image: url(../images/header/aromatherapy-aromatic-beautiful-flowers-286755.jpg);
    background-attachment: fixed;
	background-position: left top;
    background-size: cover;

}






